<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1 class="title">Mi primer Chat</h1>
    <div class="chat">
        <input type="text" id="username" class="username" placeholder="Ingrese su nombre de usuario">
        <div id="messages" class="messages">
            <div class="message">Gustavo:Hello</div>
            <div class="message">Gustavo:Hola</div>
        </div>
        <div id="writing" class="writing"></div>
        <textarea id="writeMessage" class="writeMessage" placeholder="Ingrese su mensaje"></textarea>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io()
        const username = document.getElementById('username')
        const writeMessage = document.getElementById('writeMessage')
        const writing = document.getElementById('writing')
        const messages = document.getElementById('messages')

        socket.on('all-messages', (m)=>{
            let content = ''
            for(const message of m){
                content += `
                <div class="message">
                    ${message.username}:${message.message}
                </div>
                <br>    
                `
            }
            messages.innerHTML = content
            messages.scrollTo = messages.scrollHeight
        })

        writeMessage.addEventListener('keydown', (event) => {
            socket.emit('writing', username.value)
        })

        socket.on('writing', (username) => {
            writing.innerHTML = username + "Esta escribiendo"
            setTimeout(() => {
                writing.innerHTML = ''
            }, 3000)
        })

        writeMessage.addEventListener('keyup', (event) => {
            if(event.code == 'Enter'){
                if(username.value == "" || writeMessage.value == ""){
                    return alert('El nombre de usuario y el mensaje son requeridos👽')
                }
                socket.emit('new-message', {
                    username:username.value, 
                    message:writeMessage.value.slice(0, -1)
                })
                writeMessage.value = ""
            }
        })

    </script>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</body>
</html>